*,
::after,
::before {
  box-sizing: border-box;
}

html[data-theme="dark"] {
  background-color: $bg-dark;
  color: $color-dark;
  // background: linear-gradient(to right, #3a6186, #89253e);
  ::selection {
    background-color: $bg-light;
    color: $color-light;
  }
}
html[data-theme="light"] {
  background-color: $bg-light;
  color: $color-light;
  ::selection {
    background-color: $bg-dark;
    color: $color-dark;
  }
}

html {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  direction: ltr;
}

ul {
  list-style-type: none;
  @include zero;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  // font-family: ;
}

.light_mode {
  color: #16141a !important;
}

.dark_mode {
  color: #f6f6f6 !important;
}
