.skills-center {
  width: 90%;
  height: 100%;
  padding: 150px 10px 100px;

  &.skills-page {
    margin: auto;
  }

  //! @media 1382px
  @include respond(desktop) {
    width: 94%;
  }

  //! @media 1024px
  @include respond(desktopS) {
    width: 99%;
    padding-bottom: 90px;
    padding-top: 0;
  }

  .skills-container {
    display: flex;

    //! @media 768px
    @include respond(tablet) {
      display: grid;
    }

    .flex {
      flex: 1 1;
      margin-bottom: 30px;
    }

    .skills-image-div {

      //
      img {
        max-width: 100%;
        height: auto;
      }

      //! @media 768px
      @include respond(tablet) {
        order: 2;
      }
    }

    .skills-text- {
      margin-left: 50px;

      //! @media 1024px
      @include respond(desktopS) {
        margin-left: 13px;
      }

      //! @media 768px
      @include respond(tablet) {
        text-align: center;
        margin-left: 0;
      }

      .skills-heading {
        font-size: 56px;
        font-weight: 400;
        text-transform: inherit;

        //! @media 1024px
        @include respond(desktopS) {
          margin-top: 10px;
        }
      }

      .subTitle {
        font-size: 25px;

        //! @media 1382px
        @include respond(desktop) {
          font-size: 20px;
        }

        //! @media 1024px
        @include respond(desktopS) {
          font-size: 17px;
        }

        //! @media 768px
        @include respond(tablet) {
          font-size: 21px;
        }

        //! @media 375px
        @include respond(mobileM) {
          font-size: 18px;
        }

        //! @media 375px
        @include respond(mobileM) {
          font-size: 18px;
        }
      }

      .software-skills-main-div {

        //
        .dev-icon {
          padding-left: 0;
          font-size: 3rem;
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;

          //! @media 480px
          @include respond(mobileL) {
            font-size: 2rem;
          }

          .software-skills-inline {
            display: inline-block;
            margin-right: 27px;
            margin-bottom: 20px;

            //! @media 1382px
            @include respond(desktop) {
              margin-right: 23px;
              margin-bottom: 0;
            }

            //! @media 480px
            @include respond(mobileL) {
              margin-right: 13px;
            }

            img {
              width: 3rem;

              //! @media 1382px
              @include respond(desktop) {
                width: 2.5rem;
              }

              //! @media 768px
              @include respond(tablet) {
                width: 3rem;
              }

              //! @media 375px
              @include respond(mobileM) {
                width: 2rem;
              }
            }

            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}